@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
    margin: 0;
}

h1,
h2,
p {
    margin: 0;
}

.container-for-header {
    background-color: #222;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    height: 75px;
    align-items: center;
    max-width: 100%;
}

.header-container {
    width: 1140px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;

}

.left-logo {
    display: flex;
    gap: 41px;
    align-items: center
}

.commo-right-logo {
    display: flex;
    gap: 42px;
}

.right-2-logo {
    display: flex;
    gap: 25px;
    align-items: center
}


.container-for-intro{
    background-color: #F1E4E6;
}

.intro-contaier {
    /* background-color: #F1E4E6; */
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

}

.intro {
    display: flex;
    /* max-width: 1600px; */
    max-width: 100%;
    margin-bottom: 65px;
    align-items: center;
}



.right-side {
    display: flex;
    justify-content: flex-start;
    gap: 28px;
    align-items: center;
}

.rectangle {
    background-color: #F16D7F;
    ;
    width: 12px;
    height: 92px;


}

.intro-word {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
}

.second-line-first-word {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.second-line-second-word {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.second-line {
    margin: 0;
}

.clothes-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr;
    gap: 30px;

}

.clothes-type-acc {
    grid-column: span 3;
    margin-bottom: 96px;
}



.clothes-item {
    position: relative;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.proposal-first-line {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.proposal-second-line {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.features {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.features-title {
    margin: 0;
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.features-text {
    margin: 0;
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.selection-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.selection-text {
    padding: 24px 16px;
    background-color: #F8F8F8;
    ;
}

.selection-title {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.selection-explanation {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 314.743px;
}

.selection-price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.button-browse {
    padding-top: 15px;
    padding-bottom: 14px;
    display: flex;
    justify-content: center;
    width: 212px;
    height: 48px;
    border: #FF6A6A solid 2px;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: white;
    cursor: pointer;
}

@media screen and (max-width:1439px) {


    .header-container {
        width: 695px;
    }

    .container {
        max-width: 740px;
    }

    .header {
        min-width: 740px;
        align-items: center;
    }

    .intro-contaier {
        max-width: 767px;
        align-items: center;
    }

    .right-side {
        gap: 16px;
    }

    .intro-word {
        font-size: 44px;
    }

    .second-line-first-word {
        font-size: 24px;
    }

    .second-line-second-word {
        font-size: 24px;
    }

    .clothes-type {
        gap: 20px;
    }

    .clothes-type-acc {
        margin-bottom: 110px;
    }

    .features {
        margin-bottom: 74px;
    }

    .selection-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
    }

    .selection-explanation {
        margin-top: 13px;
        margin-bottom: 18px;
    }

    .centered-text {
        text-align: center;
    }

    .proposal-second-line {
        width: 200px;
    }

}